<div class="details-box">
    <div class="details-title">
        {{title}}
    </div>

    <div class="details-descrip">
        {{{description}}}
    <div>

    <a href="{{link}}">Link</a>

</div>