<div class="login-form">

    <div class="login-header">
        <p>External Experts</p>
    </div>

    <div class="experts_menu">

        <ul id="checked">
            <li>
                <p>
                    <input type="checkbox" value="1" id="1" name="1" checked="checked"/>
                    <label class="check" for="1"></label>
                    <label class="info" for="1">Expert 1</label>
                </p>
            </li>

            <li>
                <p>
                    <input type="checkbox" value="2" id="2" name="2" />
                    <label class="check" for="2"></label>
                    <label class="info" for="2">Expert 2</label>
                </p>
            </li>

            <li>
                <p>
                    <input type="checkbox" value="3" id="3" name="3" />
                    <label class="check" for="3"></label>
                    <label class="info" for="3">Expert 3</label>
                </p>
            </li>

            <li>
                <p>
                    <input type="checkbox" value="4" id="4" name="4" checked="checked"/>
                    <label class="check" for="4"></label>
                    <label class="info" for="4">Expert 4</label>
                </p>
            </li>

            <li>
                <p>
                    <input type="checkbox" value="5" id="5" name="5" />
                    <label class="check" for="5"></label>
                    <label class="info" for="5">Expert 5</label>
                </p>
            </li>

            <li>
                <p>
                    <input type="checkbox" value="6" id="6" name="6" />
                    <label class="check" for="6"></label>
                    <label class="info" for="6">Expert 6</label>
                </p>
            </li>

        </ul>

    </div>

    <div class="experts_btns">

        <input id='submitButton' type='button' class='yellow-button' value='OK' />

        <input id='cancelButton' type='button' class='yellow-button' value='Cancel' />

        <input id='resetButton' type='button' class='yellow-button' value='Select None' />

        <input id='selectAllButton' type='button' class='yellow-button' value='Select All' />

    </div>

</div>
