<div class="login-form">
    <div class="login-header">
        <p>Invite another user</p>
    </div>
    <form action="">
        <fieldset>
            <div class="clearfix">
            <p class="yellow-title">Email address</p>
                <input type="text" placeholder="Email address">
            </div>
            <div class="clearfix">
                 <p class="yellow-title">Password</p>
                <input type="password" placeholder="Password">
            </div>
        </fieldset>
        <br/>
        <input id='submitButton' type='button' class='yellow-button' value='Send invite now' />
    </form>
</div>