<div class="login-form">
  <div class="login-header">
    <p>Login</p>
  </div>
  <form action="">
  <p class="yellow-title">Login:</p>
      <input id='usernameField' type='text' placeholder='Email address'>
      <p class="yellow-title">Password:</p>
      <input id='passwordField' type='password' placeholder='Password'>
      <br />
      <input id='submitButton' type='button' class='yellow-button' value='Sign in' />
  </form>
</div>

